@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    margin: 0px;
    background-color: #1A1A1A;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    pointer-events: none;
}
.footer {
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}